:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-color: #f3f4f6;
  --text-700: #374151;
  --text-400: #94a3b8;
  --text-100: #f3f4f6;
  --text-300: #cbd5e1;
  --white: #fff;
  --primary-700: #4338ca;
  --primary-600: #4f46e5;
  --primary-100: #e0e7ff;
  --rose-500: #f43f5e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100vh;
}

input {
  display: block;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
p {
  text-align: left;
}

h1 {
  margin-bottom: 1.5rem;
  color: var(--text-700);
}

h2 {
  margin-bottom: 1.5rem;
  color: var(--text-700);
}

input[type="checkbox"] {
  transform: scale(1.5);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

select {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid var(--text-400);
  border-radius: 0.75rem;
  font-weight: 700;
  color: var(--text-700);
}

.text-field {
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  color: var(--text-700);
  font-size: 1rem;
  border: 1px solid var(--text-300);
}   
.text-field:focus {
  border-color: var(--primary-600);
  box-shadow: 0 0 0 2px rgba(67, 56, 202, 0.2);
}
.btn {
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: var(--transition);
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.btn--danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn--primary {
  background-color: var(--primary-600);
  color: white;
  font-size: 1rem;
}
